{% extends 'base.html.twig' %}
{% block style %}
{{ encore_entry_link_tags("admin") }}
{% endblock %}
{% block body %}
<div class="undernav"></div>
{% if error %}
<div class="flash_message">
    <p class="flash-fail">{{ error.messageKey }}</p>
</div>
{% endif %}
<section class="login_form form-group">
    <h1 class="subtitle">{% trans %}connect{% endtrans %}</h1>
    <form action="{{ path('login') }}" method="post">
        <div class="form-group">
            <label for="mail">{% trans %}Email{% endtrans %}</label>
            <input type="text" id='mail' name="_username" placeholder="{% trans %}Address{% endtrans %}" class="form-control" value="{{ last_user }}">
        <div class="form-group">
        </div>
        <div class="form-group">
            <label for="password">{% trans %}Mot de passe{% endtrans %}</label>
            <input type="password" id="password" name="_password" placeholder="{% trans %}Mot de passe{% endtrans %}" class="form-control">
        </div>
        <div class="form-group">
            <input type="hidden" name="_token" value="{{ csrf_token('submitLogin') }}">
            <button type="submit" class="a_btn a_btn btn_more">{% trans %}connect{% endtrans %}</button>
        </div>
    </form>
</section>
{% endblock %}