{% extends 'base.html.twig' %}

{% block style %}

	{{ encore_entry_link_tags("admin") }}
	{{ encore_entry_link_tags("account") }}
	{{ encore_entry_link_tags("public") }}

{% endblock %}
{% block body %}
	<section id="sigin_form" class="form-group">
		<h1 class="subtitle">{% trans %}Reset password{% endtrans %}</h1>
		<p class="paragraph">{% trans %}A link will be send to your address to reset your password. Please enter the address that you used for this site.{% endtrans %}</p>
		{{form_start(form)}}
		{{form_errors(form)}}
		{{form_errors(form.email)}}
		{{form_row(form.email, {'label': 'Email', 'attr': {'placeholder': 'Email'}})}}
		{{form_row(form.submit, {'label': 'Envoyer', 'attr': {'class': 'a_btn btn_modify'}})}}
		{{form_end(form)}}
	</section>
{% endblock %}
