{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block style %}
	{{ encore_entry_link_tags("admin") }}
	{{ encore_entry_link_tags('public') }}
	{{ encore_entry_link_tags('account') }}

{% endblock %}
{% block body %}
	<section id="reset_password" class="form-group">
<h1 class="subtitle">{% trans %}Reset password{% endtrans %}</h1>
		{{ form_start(form) }}
		{{ form_row(form.reset_password)}}
		{{ form_row(form.submit, {'attr': {'class': 'a_btn btn_modify'}}) }}
		{{ form_end(form) }}
	</section>
{% endblock %}

