{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <div class="jumbotron jumbotron-fluid m-4">
        <h1 class="p-3">{{ article.title }}</h1>
        <p class="p-3">Le {{ article.dateEvent|date("d/m/Y") }}</p>
        <div class="row m-4">
            <div class="container col">
                <p class="lead text-justify">{{ article.text|nl2br }}</p>
            </div>
            {#
            <div class="container col">
                <p class="lead"> Image id numéro : {{ article.idImg }}</p>
            </div>
            #}
        </div>
        <div class="row m-4">
            <div class="container col-3">
                <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ article.apiData }}&color=%230e0d26&inverse=true&auto_play=true&show_user=true"></iframe>
            </div>
            <div class="container col-3">
                <p class="lead">created at : {{ article.createdAt|date("d/m/Y") }}</p>
                <p class="lead">created by : {{ article.user.surname }}</p>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}