{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
{% if format == 'news' %}
    <h1>Les news du chant</h1>
{% elseif format == 'publicEvent' %}
    <h1>Les évènements du chant</h1>
{% elseif format == 'members' %}
    <h1>Les membres du chant</h1>
{% elseif format == 'releases' %}
    <h1>Les dernières sorties</h1>
{% endif %}
</div>

<div class="jumbotron row">
{% for article in articles %}
  <div class="card col-sm-4">
  <img src="{{ asset('/upload/pictures/' ~ article.img) }}" class="card-img-top" alt="{{ article.title }}">
    <div class="card-body">
      <h5 class="card-title">{{ article.title }}</h5>
      <p class="card-text">{{ article.text[:150] ~ '...' }}</p>
      <a href="{{ path("article", {"format" : article.format, "id" : article.id }) }}" class="btn btn-primary">More...</a>
      {% if is_granted('ROLE_ADMIN') %}
      <a href="{{ path("editPost", { "id" : article.id }) }}" class="btn btn-success">Modifier</a>
      <form method="POST" action="{{ path("delPost", { "id" : article.id }) }}">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
        <button class="btn btn-danger">Supprimer</button>
      </form>
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}