{% extends 'base.html.twig' %}
{% block title %}<title>CDLM.space - {{article.title}}</title>{% endblock %}
{% block header %}
{% if article.imgs.snapshot != [] %}
    {% if cover != null %}
        {% set coverArticle %}{{ asset('/upload/pictures/' ~ cover.name) | imagine_filter('300x300') }}{% endset %}
    {% else %}
        {% set coverArticle %}{{ asset('/upload/pictures/' ~ article.imgs|first) | imagine_filter('300x300') }}{% endset %}
    {% endif %}
{% else %}
    {% set coverArticle %} {{ asset('img/Arthur/DSCF6241.jpg') | imagine_filter('300x300') }}{% endset %}
{% endif %}
<!-- Primary Meta Tags -->
<meta name="title" content="CDLM.space - {{article.title}}">
<meta name="description" content="{{ article.text|replace({'<p>&nbsp;</p>': '', '&nbsp;': ''})|striptags|slice(0,350) }}...">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="article">
<meta property="og:url" content="{{app.request.uri}}">
<meta property="og:title" content="CDLM.space - {{article.title}}">
<meta property="og:description" content="{{ article.text|replace({'<p>&nbsp;</p>': '', '&nbsp;': ''})|striptags|slice(0,350) }}...">
<meta property="og:image" content="{{ coverArticle }}">
<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{app.request.uri}}">
<meta property="twitter:title" content="CDLM.space - {{article.title}}">
<meta property="twitter:description" content="{{ article.text|replace({'<p>&nbsp;</p>': '', '&nbsp;': ''})|striptags|slice(0,145) }}...">
<meta property="twitter:image" content="{{ coverArticle }}">
{% endblock %}
{% block style %}
<link rel="stylesheet" href="/css/article.css">
<link rel="stylesheet" href="/css/home_public_index.css">
<link rel="stylesheet" href="/css/article900px.css">
<link rel="stylesheet" href="/css/article600px.css">
{% endblock %}
{% block body %}
   {% if article.imgs.snapshot != [] %}
        {% if cover != null %}
        <img class="article_image_cover" src="{{ asset('/upload/pictures/' ~ cover.name) }}" alt="Photo de l'article : {{article.title}}" >
        {% else %}
        <img class="article_image_cover" src="{{ asset('/upload/pictures/' ~ article.imgs|first) }}" alt="Photo de l'article : {{article.title}}" >
        {% endif %}
    {% else %}
    <img class="article_image_cover" src="/img/Arthur/DSCF6241.jpg" alt="Photo de l'article : {{article.title}}" >
    {% endif %}
    <section id="article_cover">
        <div class="incover">
            <div class="article_cover_title">
                <h1>{{ article.title }}</h1>
                <div class="date_event">
                    <p>Organisé le {{ article.dateEvent|date("d/m/Y") }}</p>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path("editPost", { "id" : article.id }) }}" class="a_btn btn_modify">Modifier</a>
                {% endif %}
            </div>
        </div>
    </section>
    <section id="article_body">  
        <article id="txt">
            {{ article.text|raw }}
        </article>
        <aside id="music">
            {% if article.apiData != [] %}
            <h2>Musique</h2>
            <div class="widget_SC"></div>
            {% endif %}
            {% if article.imgs.snapshot != null %}
            <h2>Image</h2>
            <div class="hes-gallery">
            {% for image in article.imgs %}
                    <img src="{{ asset('/upload/pictures/' ~ image.name) | imagine_filter('200x150') }}" data-fullsize="{{ asset('/upload/pictures/' ~ image.name) }}" alt="Photo {{image.id}} de l'article : {{ article.title }}">
            {% endfor %}
            </div>
            {% endif %}
        </aside>
    </section>
{% endblock %}
{% block javascripts %}
<script src="https://unpkg.com/hes-gallery/dist/hes-gallery.min.js"></script>
<script src="https://connect.soundcloud.com/sdk/sdk-3.3.2.js"></script>
<script type="text/javascript">
{% include 'include/soundcloudID.js' %}
{% for sound in article.apiData %}
{% include 'include/soundcloudResolve.js' %}
{% endfor %}
</script>
{% endblock %}