{% extends 'base.html.twig' %}

{% block title %}{{article.text[:200]|striptags }}{% endblock %}
{% block style %}
<link rel="stylesheet" href="/css/article.css">
<link rel="stylesheet" href="/css/home_public_index.css">
{% endblock %}
{% block body %}
    {% if article.imgs.snapshot != [] %}
        {% if cover != null %}
        <img class="article_image_cover" src="{{ asset('/upload/pictures/' ~ cover.name ) }}" alt="Photo de l'article : {{article.title}}" >
        {% else %}
        <img class="article_image_cover" src="{{ asset('/upload/pictures/' ~ article.imgs|first ) }}" alt="Photo de l'article : {{article.title}}" >
        {% endif %}
    {% else %}
    <img class="article_image_cover" src="/img/CDLM_logo.svg" alt="Photo de l'article : {{article.title}}">
    {% endif %}
    <div class="article_cover_title">
        <h1>{{ article.title }}</h1>
        <div class="date_event">
            <p>Organisé le : {{ article.dateEvent|date("d/m/Y") }}</p>
        </div>
    </div>
    <section id="article_body">
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path("editPost", { "id" : article.id }) }}" class="a_btn btn_modify">Modifier</a>
        {% endif %}  
        {% if article.apiData != [] %}
        <aside id="music">
            <div class="widget_SC"></div>
        </aside>
        {% endif %}
        <article id="txt">
            <h2>{{ article.title }}</h2>
            {{ article.text|raw }}
        </article>
        {% if article.imgs.snapshot != null %}
            <div class="hes-gallery">
            {% for image in article.imgs %}
                    <img src="{{ asset('/upload/pictures/' ~ image.name) }}" alt="Photo {{image.id}} de l'article : {{ article.title }}">
            {% endfor %}
            </div>
        {% endif %}
    </section>
{% endblock %}
{% block javascripts %}
<script src="https://unpkg.com/hes-gallery/dist/hes-gallery.min.js"></script>
<script src="https://connect.soundcloud.com/sdk/sdk-3.3.2.js"></script>
<script>
    SC.initialize({
        client_id: 'Vu5tlmvC9eCLFZkxXG32N1yQMfDSAPAA'
    });

    {% for sound in article.apiData %}
        SC.resolve(" {{sound}} ")
            .then((track)=>{
                document.getElementsByClassName("widget_SC")[0].insertAdjacentHTML("beforeend", '<iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/' + track.id + '&color=%230e0d26&inverse=true&auto_play=false&show_user=true"></iframe>');
        })
    {% endfor %}

/*
    SC.oEmbed(track_url, { auto_play: false } )
        .then((oEmbed)=>{
                let iframeTrack = oEmbed.html
                    .replace("visual=true&", "")
                    .replace("show_artwork=true&", "show_artwork=false&")
                    .replace("", "")
                    ;
                document.getElementsByClassName("widget_SC")[0].innerHTML = iframeTrack;
            });

    function getComments(track) {
        SC.get('/tracks/' + track.id + '/comments');
    };

    function listComments(comments) {
        comments.forEach((comment)=>{
            console.log(comment.body);
        });
    };
    SC.resolve(track_url).then(getComments).then(listComments)
*/
</script>
{% endblock %}