{% extends 'base.html.twig' %}

{% block title %}Bienvenue au Chant de la Machine, ce site rassemble l'association organisatrice d'évènements, le label de musique et bien d'autre choses.{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1>Bienvenue, votre nouvelle vision du son commence ici</h1>
</div>

<div class="row">
{% for article in articles %}
  <div class="card mb-3 m-auto" style="width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ asset('upload/pictures/') }}" class="card-img-top" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ article.title }}</h5>
          <p class="card-text">{{ article.text[:150] ~ '...' }}</p>
          <a href="{{ path("article", {"format" : article.format, "id" : article.id }) }}" class="btn btn-primary">More...</a>
          <a href="{{ path("editPost", { "id" : article.id }) }}" class="btn btn-success">Modifier</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
