{% extends 'base.html.twig' %}
{% block header %}
  <link rel="stylesheet" href="/css/home_public_index.css">
    {% set coverArticle %}{{ asset("/img/Arthur/DSCF6310.jpg") | imagine_filter('300x300') }}{% endset %}
    {% set titleArticle = "Home" %}
    {% set descriptionArticle = "Bienvenue au Chant de la Machine, ce site rassemble l'association organisatrice d'évènements, le label de musique et bien d'autre choses." %}
    {% include 'include/htmlMeta.html.twig' %}
{% endblock %}
{% block body %}
<div class="welcome_view">
  <div class="moving_title">
    <h1>{% trans %}Hello{% endtrans %}</h1>
    <p>{% trans %}Collectif d’exploration urbaine et musical dans Paris et ses environs{% endtrans %}</p>
  </div>
</div>
<h2 class="part_title">{% trans %}What's new on CDLM?{% endtrans %}</h2>
<section id="welcome_cards">
{% for article in articles %}
  <div class="welcome_card">
    <div class="in_card_welcome">
      <div class="col_wel_img">
      {% set hasCover = false %}
      {% if covers != [] %}
        {% for cover in covers %}
          {% if cover.idArticle == article.id %}
            <img src="{{ asset('/upload/pictures/' ~ cover.covername) | imagine_filter('300x300') }}" alt="Photo de l\'article : {{ article.title }}">
            {% set hasCover = true %}
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if hasCover == false %}
        {% if article.imgs|first != "" %}
        <img src="{{ asset('/upload/pictures/' ~ article.imgs|first.name) | imagine_filter('300x300') }}" alt="Photo de l'article : {{ article.title }}">
        {% else %}
        <img src="{{asset('/img/Arthur/DSCF6226.jpg') | imagine_filter('300x300')}}" alt="Photo de l'article : {{ article.title }}">
        {% endif %}
      {% endif %}
      </div>
      <p class="format_event_card">{{article.format|trans }}</p>
      <div class="col_wel_txt">
        <div class="col_wel_txt_body">
          <h5>{{ article.title }}</h5>
          <p>Le {{ article.dateEvent|date("m/d/Y") }}
          <div class="buttons">
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path("editPost", { "id" : article.id }) }}" class="a_btn a_btn btn_modify">{% trans %}Modifier{% endtrans %}</a>
            {% endif %}
            <a href="{{ path("article", {"format" : article.format, "slug" : article.slug }) }}" class="a_btn a_btn btn_more">{% trans %}More{% endtrans %}...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</section>
{% endblock %}