{% extends 'base.html.twig' %}
{% block header %}
  <link rel="stylesheet" href="/css/home_public_index.css">
{% endblock %}
{% block title %}Bienvenue au Chant de la Machine, ce site rassemble l'association organisatrice d'évènements, le label de musique et bien d'autre choses.{% endblock %}
{% block body %}
<div class="welcome_view">
    <h1 class="moving_title">Hi there {% if app.user != null %} {{ app.user.surname }} {% endif %}!</h1>
</div>
<h2 class="part_title">What's new on CDLM?</h2>
<section id="welcome_cards">
{% for article in articles %}
  <div class="welcome_card">
    <div class="in_card_welcome">
      <div class="col_wel_img">
      {% set hasCover = false %}
      {% if covers != [] %}
        {% for cover in covers %}
          {% if cover.idArticle == article.id %}
            <img src="{{ asset('/upload/pictures/' ~ cover.covername) | imagine_filter('300x300') }}" alt="Photo de l\'article : {{ article.title }}">
            {% set hasCover = true %}
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if hasCover == false %}
        {% if article.imgs|first != "" %}
        <img src="{{ asset('/upload/pictures/' ~ article.imgs|first.name) }}" alt="Photo de l'article : {{ article.title }}">
        {% else %}
        <img src="{{asset('/img/Arthur/DSCF6226.jpg') | imagine_filter('300x300')}}" alt="Photo de l'article : {{ article.title }}">
        {% endif %}
      {% endif %}
      </div>
      <div class="col_wel_txt">
        <div class="col_wel_txt_body">
          <h5>{{ article.title }}</h5>
          <p>Le {{ article.dateEvent|date("m/d/Y") }}
          {% autoescape 'html' %}
          <p>{{ article.text|replace({'<p>&nbsp;</p>': '', '&nbsp;': ''})|striptags|slice(0,150) }} ...</p>
          {% endautoescape %}
          <div class="buttons">
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path("editPost", { "id" : article.id }) }}" class="a_btn a_btn btn_modify">Modifier</a>
            {% endif %}
            <a href="{{ path("article", {"format" : article.format, "id" : article.id }) }}" class="a_btn a_btn btn_more">More...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</section>
{% endblock %}