{% extends 'base.html.twig' %}
{% block header %}{% endblock %}
{% block style %}
<link rel="stylesheet" href="/css/membres.css">
{% endblock %}
{% block body %}
<section id="article_cover">
    <img class="article_image_cover" src="/img/Arthur/DSCF6179.jpg" alt="Cover CDLM members">
    <div class="incover">
        <div class="article_cover_title">
            <h1 class="part_title">Les artistes du chant</h1>
            
        </div>
    </div>
</section>
<section id="members">
        <article class="members_picture">
        {% for member in members %}
            <figure>
                <a href="{{path('article', {"format" : "members", "id" : member.id})}}">
                    {% set hasCover = false %}
                    {% if covers != [] %}
                        {% for cover in covers %}
                            {% if cover.idArticle == member.id %}
                            <img class="img_member" src="{{ asset('/upload/pictures/' ~ cover.covername) | imagine_filter('300x300') }}" alt="Photo de l\'artiste : {{ member.title }}">
                            {% set hasCover = true %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if hasCover == false %}
                        {% if member.imgs|first != "" %}
                        <img class="img_member" src="{{ asset('/upload/pictures/' ~ member.imgs|first.name) | imagine_filter('300x300')}}" alt="Photo de l'artiste : {{ member.title }}">
                        {% else %}
                        <img src="{{asset('/img/Arthur/DSCF6226.jpg') | imagine_filter('300x300')}}" alt="Photo de l'article : {{ article.title }}">
                        {% endif %}
                    {% endif %}
                    <figcaption>
                        <h3>{{member.title}}</h3>
                    </figcaption>
                </a>
            </figure>
        {% endfor %}
        </article>
</section>
{% endblock %}