{% extends 'base.html.twig' %}

{% block title %}"Editeur d'article pour le Chant de la Machine."{% endblock %}

{% block body %}
<div style="margin: 20px 40px">
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-2">
                {{ form_row(form.date_event, {'label' : 'Date de l\'évènement'}) }}
            </div>
            <div class="col-md-2">
            {{ form_row(form.format, {
                'label': 'Type de l\'article', 
                'placeholder': 'Sélectionnez ici'
                }) }}
            </div>
        </div>
        {{ form_row(form.title, {
            'label': 'Titre de l\'évènement',
            'attr': {'placeholder': 'Titre de l\'évènement'}
            }) }}
        {{ form_row(form.text, {
            'label': 'Contenu de l\'article',
            'attr': {
                'class': 'ckeditor',
                'placeholder': 'Tappez le texte ici'
            }
        }) }}
        {#{ include('admin/form_edit_post.html.twig') }#}
        {#% block file_widget %}{% endblock %#}
        {{ form_row(form.api_data, {
            'label': 'Données de l\'api',
            'attr': {
                'placeholder': 'Entrez les URL',
            }
        }) }}
        {{ form_row(form.imgsFile, {
            'label': 'Ajouter une image',
        }) }}
        {{ form_row(form.save, {
            'label': 'Sauvegarder',
        }) }}
    {{form_end(form)}}
    {% for image in article.imgs %}
        <div class="edit_image">
            <img src="{{ vich_uploader_asset(image, 'imgData') }}" alt="" style="width: 100px;">
        </div>
        {% dump(image.id) %}
        
        <a href="{{ path('delImg', { 'id' : image.id }) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}" class="btn btn-danger">
            Supprimer
        </a>
        
    {% endfor %}
</div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('.ckeditor'))
            .catch(error => {
                console.error(error);
            });

        let requette = new Requests();
        requette.delPictures();
    </script>
{% endblock %}