{% extends 'base.html.twig' %}

{% block title %}"Editeur d'article pour le Chant de la Machine."{% endblock %}
{% block style %}<link rel="stylesheet" href="/css/edit_post.css"></link> {% endblock %}
{% block body %}
<section id="edit_post">
    {% if app.request.attributes.get('_route') == 'editPost' %}
    <form method="POST" action="{{ path("delPost", { "id" : article.id }) }}">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
        <button class="btn_del">Supprimer</button>
    </form>
    {% endif %}
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-2">
                {{ form_row(form.date_event, {'label' : 'Date de l\'évènement'}) }}
            </div>
            <div class="col-md-2">
            {{ form_row(form.format, {
                'label': 'Type de l\'article', 
                'placeholder': 'Sélectionnez ici'
                }) }}
            </div>
        </div>
        {{ form_row(form.title, {
            'label': 'Titre de l\'évènement',
            'attr': {'placeholder': 'Titre de l\'évènement'}
            }) }}
        {{ form_row(form.text, {
            'label': 'Contenu',
            'attr': {
                'class': 'ckeditor',
                'placeholder': 'Tappez le texte ici'
            }
        }) }}
        {{ form_row(form.api_data, {
            'label': 'Données de l\'api',
            'attr': {
                'placeholder': 'Entrez les URL',
            }
        }) }}
        <div class="row">
            <div class="col-md-3">
                {{ form_row(form.imgsFile, {
                    'label': 'Ajouter des images',
                    'attr': {'placeholder': 'Ajouter des images'}
                }) }}
            </div>
        </div>
        {{ form_row(form.save, {
            'label': 'Publier',
            'attr': {'class': 'btn_modify'}
        }) }}
    {{form_end(form)}}
    <aside ></aside>
    <h2>Galerie</h2>
    <div id="gallery">
        {% for image in article.imgs %}
            <div class="edit_image hes-gallery">
                <img src="{{ vich_uploader_asset(image, 'imgData') }}" alt="Image {{image.id ~ " - De l'article : " ~ article.title}}">
                <a href="{{ path('delImg', { 'id' : image.id }) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}" class="btn_del_pictures">
                    <i class="far fa-trash-alt"></i>
                </a>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>
    <script src="/js/Requests.js"></script>
    <script src="https://unpkg.com/hes-gallery/dist/hes-gallery.min.js"></script>
    <script type="text/javascript">
    //text editor
        ClassicEditor
            .create(document.querySelector('.ckeditor'))
            .catch(error => {
                console.error(error);
            });

    //ajax request for delete pictures
        let requette = new Requests();
        requette.delPictures();
        ((document)=>{
            const input = document.getElementById("article_imgsFile");
            const placeholder = input.parentElement.querySelector(".custom-file-label");
            HesGallery.init();

            input.addEventListener("change", ()=>{
                    let value = input.value.replace('C:\\fakepath\\', '').trim();
                    placeholder.textContent = "" !== value ? value : (input.getAttribute('placeholder') || '');
                });
        })(document);

    //Gallery photo
        HesGallery.setOptions({
            wrapAround: true,
            disableScrolling: true,
            keyboardControl: true
        });
    </script>
{% endblock %}