{% extends 'base.html.twig' %}
{% block title %}<title>Editeur d'article pour le Chant de la Machine.</title>{% endblock %}
{% block style %}
<link rel="stylesheet" href="/css/edit_post.css"></link>
<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="undernav"></div>
<section id="edit_post">
    {% if app.request.attributes.get('_route') == 'editPost' %}
    <div class="see_and_delete">
        <a href="{{path("article", {"id": article.id, "format": article.format})}}" class="a_btn btn_more">Voir</a>
        <form method="POST" action="{{ path("delPost", { "id" : article.id }) }}">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
            <button id="del_article" class="a_btn btn_del">Supprimer</button>
        </form>
    </div>
    {% endif %}
    {{ form_start(form) }}
        <div class="form_error">
            {{ form_errors(form) }}
        </div>
        {{ form_row(form.save, {
            'label': 'Enregistrer',
            'attr': {'class': 'a_btn btn_modify'}
        }) }}
        <div class="row">
            <div class="col-md-2 date">
                {{ form_errors(form.date_event) }}
                {{ form_row(form.date_event, {'label' : 'Date'}) }}
            </div>
            <div class="col-md-2 type">
            {{ form_row(form.format, {
                'label': 'Type de l\'article', 
                'placeholder': 'Sélectionnez ici'
                }) }}
            </div>
        </div>
        <div id="socialsNetwork" class="row">
            <div class="col-md-2">
            {{ form_row(form.socialNetwork.facebook) }}
            {{ form_errors(form.socialNetwork.facebook) }}
            </div>
            <div class="col-md-2">
            {{ form_row(form.socialNetwork.soundcloud) }}
            {{ form_errors(form.socialNetwork.soundcloud) }}
            </div>
            <div class="col-md-2">
            {{ form_row(form.socialNetwork.instagram) }}
            {{ form_errors(form.socialNetwork.instagram) }}
            </div>
        </div>
        <div id="add_form_field" >
            <a id="add_sc_btn" class="a_btn btn_modify">Add sound</a>
        </div>
        <div class="row">
            <div id="edit_text_content">
                {{ form_row(form.title, {
                    'label': 'Titre de l\'évènement',
                    'attr': {'placeholder': 'Titre de l\'évènement'}
                }) }}
                {{ form_row(form.text, {
                    'label': 'Contenu',
                    'attr': {
                        'id': "text_editor",
                        'class': 'ckeditor',
                        'placeholder': 'Tappez le texte ici'
                    }
                }) }}
            </div>
            {{ form_errors(form.api_data) }}
            <ul id="list_sc" class="api_data" data-prototype="{{ form_widget(form.api_data.vars.prototype)|e('html_attr') }}">
                {% for sound in form.api_data %}
                <li>
                    {{form_row(sound, {
                        'label': false,
                        'attr': {'class': 'url_SC'}
                    })}}
                    <button class="btn_del_sets" type="button">X</button>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% if app.request.attributes.get('_route') == 'editPost' %}
        <div id="datetime_article">
            <div class="onelinetxt">
                <p>Créé le {{ article.createdAt|date("d/m/Y \à H:i:s", "Europe/Paris") }} par {{ article.user.surname }}</p>
            </div>
            {% if article.modifiedBy != '' %}
            <div class="onelinetxt">
                <p>Modifié le {{ article.updatedAt|date("d/m/Y \à H:i:s", "Europe/Paris") }} par {{ article.modifiedBy.surname }}</p>
            </div>
            {% endif %}
        </div>
        {% endif %}
        <div class="row">
            <div id="add_sound_minwidth"></div>
            <div class="col-md-3">
                {{ form_errors(form.imgsFile) }}
                {{ form_row(form.imgsFile) }}
            </div>
        </div>
    {{form_end(form)}}
    {% if app.request.attributes.get('_route') == 'editPost' %}
        {% if article.imgs.snapshot != null %}
        <div id="gallery">
            <div class="hes-gallery">
            {% for image in article.imgs %}
                {% if image.id != null %}
                <figure class="edit_image" name="{{image.id}}">
                    <img src="{{ vich_uploader_asset(image, 'imgData') | imagine_filter('200x150') }}" data-fullsize="{{ vich_uploader_asset(image, 'imgData') }}" alt="Image {{image.id ~ " - De l'article : " ~ article.title}}">
                    <figcaptation class="action_image">
                        <label for="Image {{image.id}}"></label>
                        <input type="radio" id="Image {{image.id}}" name="cover" value="{{image.id}}">
                        <a href="{{ path('delImg', { 'id' : image.id }) }}" data-delete data-token="{{ csrf_token('delete.picture' ~ image.id) }}" class="btn_del_pictures">X</a>
                    </figcaptation>
                </figure>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        {% endif %}
    {% endif %}
</section>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>
    <script src="/js/Requests.js"></script>
    <script src="https://unpkg.com/hes-gallery/dist/hes-gallery.min.js"></script>
    <script src="/js/addField.js"></script>
    <script src="/js/popupStop.js"></script>
    <script src="/js/movingElt.js"></script>
    <script type="text/javascript">
    //MediaQueries, move some elts for responsive design
    let moveElt = new movingElt(document.getElementById("add_form_field"), document.getElementById("add_sound_minwidth"), 900);
    moveElt.init();

    {% if article.id != null %}
    //Input change for select cover image
    const inputsCover = document.getElementsByTagName("input");
    for (let i in inputsCover){
        if (inputsCover[i].type === "radio"){
            inputsCover[i].addEventListener("change", (e)=>{
                let pictureId = JSON.stringify({"pictureId": e.target.value, "articleId": {{ article.id }} });
                let req = new Request("{{ path('makeCover') }}", { method: 'POST', body: pictureId });               
                fetch(req)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                })
                .catch(e => console.error(e));
            });
        }
    }
    {% endif %}

    //text editor
    let editor;
    ClassicEditor
        .create(document.querySelector('.ckeditor'), {
            removePlugins: ["ImageUpload", "MediaEmbed"],
        })
        .catch(error => {
            console.error(error);
        });

    //ajax request for delete pictures
    let request = new Requests();
    request.delPictures();

    //Gallery photo
    HesGallery.init();
    HesGallery.setOptions({
        wrapAround: true,
        disableScrolling: true,
        keyboardControl: true
    });

    //Add Soundcloud Field
    const listSc = document.getElementById("list_sc");
    const editTextContent = document.getElementById("edit_text_content");
    {% if form.api_data.children != [] %}
        listSc.style.flexBasis = "30%";
        editTextContent.style.flexBasis = "75%";
    {% endif %}
    document.getElementById("add_form_field").addEventListener("click", ()=>{
        listSc.style.flexBasis = "30%";
        editTextContent.style.flexBasis = "75%";
    });

    let addInput = new addField(
        document.getElementById("add_sc_btn"), 
        document.getElementsByClassName("api_data")[0],
        document.getElementsByClassName("api_data")[0].getAttribute("data-prototype")
        );
    addInput.init();

    //Change for the members edition
    const articleFormat = document.getElementById('article_format');
    const socialNet = document.getElementById("socialsNetwork");
    const dateEvent = document.getElementsByClassName("date")[0];
    const articleType = document.getElementsByClassName("type")[0];
    {% if isMember == true %}
    articleFormat.value = "members";
    socialNet.style.display = "flex";
    dateEvent.style.display = "none";
    {% endif %}
    articleFormat.addEventListener("change", (e)=>{
        if (e.target.value === "members"){
            socialNet.style.display = "flex";
            socialNet.style.animation = "slideLeft 1s ease";
            dateEvent.style.animation = "slideLeftReverse 1s ease";
            articleType.style.animation = "miniSlideLeft 1s ease";
            setTimeout(()=>{
                dateEvent.style.display = "none";
            }, 1000);
        }else{
            dateEvent.style.display = "flex";
            dateEvent.style.animation = "slideLeft 1s ease";
            socialNet.style.animation = "slideLeftReverse 1s ease";
            articleType.style.animation = "miniSlideLeftReverse 1s ease";
            setTimeout(()=>{
                socialNet.style.display = "none";
            }, 1000);
        }
    });
    
    {% if app.request.attributes.get('_route') == 'editPost' %}
    //Alert before remove the article
    let popup = new popupStop(document.getElementById("del_article"), "Etes vous sûr de vouloir supprimer l'article?", "L'article a été supprimé");
    popup.validateAction();
    {% endif %}
    </script>
{% endblock %}