{% extends 'base.html.twig' %}

{% block title %}"Editeur d'article pour le Chant de la Machine."{% endblock %}

{% block body %}
<div style="margin: 20px 40px">
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.text) }}
        {{ form_row(form.date_event) }}
        {{ form_row(form.format) }}
        {{ form_row(form.api_data) }}
        <input class="btn btn-success" type="submit">
    {{form_end(form)}}
</div>
{% endblock %}
{% block javascripts %}
  <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>
  <script>
    ClassicEditor
        .create(document.querySelector('.ckeditor'))
        .catch(error => {
            console.error(error);
        });
    </script>
{% endblock %}