{% extends 'base.html.twig' %}
{% block title %}<title>Envoi de demandes d'inscriptions au site CDLM.space</title>{% endblock %}
{% block style %}
<!--link rel="stylesheet" href="/css/edit_post.css"></link>
<link rel="stylesheet" href="/css/edit_post900px.css"></link>
<link rel="stylesheet" href="/css/edit_post600px.css"></link-->

{{ encore_entry_link_tags("admin") }}

<link rel="stylesheet" href="/css/account.css"></link>
<link rel="stylesheet" href="/css/account600px.css"></link>
<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="undernav"></div>
<div class="sendingInscriptionsForm">
<h1 class="subtitle">{% trans %}Send an inscription link{% endtrans %}</h1>
    {{form_start(form)}}
        <div id="add_em_field" >
            <a id="add_em_btn" class="a_btn btn_modify">{% trans %}add address{% endtrans %}</a>
        </div>
        <ul id="list_em" class="emailMember" data-prototype="{{ form_widget(form.emails.vars.prototype)|e('html_attr') }}">
            {% for email in form.emails %}
            <li>
                {{form_row(email, {
                    'label': false,
                    'attr': {'class': 'url_EM'}
                })}}
                <button class="btn_del_email" name="{{email.vars.name}}" type="button">X</button>
            </li>
            {% endfor %}
        </ul>
        {{form_row(form.submit, {"attr": {"class": "a_btn btn_more"}, "label": "Send"} )}}
    {{form_end(form)}}
</div>
{% endblock %}
{% block javascripts %}
{{ encore_entry_script_tag("admin") }}
<script>
let addEmailMember = new AddField(
        document.getElementById("add_em_btn"), 
        document.getElementsByClassName("emailMember")[0],
        document.getElementsByClassName("emailMember")[0].getAttribute("data-prototype"),
        document.getElementsByClassName("url_EM"),
        "form_emails",
        "form[emails]",
        "btn_del_email"
        );
    addEmailMember.init();
</script>
{% endblock %}