{% extends 'base.html.twig' %}
{% block header %}
    {% include 'articles/meta.html.twig'%}
{% endblock %}
{% block style %}
<link rel="stylesheet" href="/css/membres.css">
<link rel="stylesheet" href="/css/membres900px.css">
<link rel="stylesheet" href="/css/membres600px.css">
{% endblock %}
{% block body %}
<section id="article_cover">
    <img class="article_image_cover" src="/img/Arthur/DSCF6179.jpg" alt="Cover CDLM members">
    <div class="incover">
        <div class="article_cover_title">
            <h1 class="part_title">{% trans %}Les artistes{% endtrans %}</h1>
        </div>
    </div>
</section>
<section id="members">
    <article class="members_picture">
    {% for artist in articles %}
        <figure>
            <a href="{{path('article', {"format" : "members", "slug" : artist.slug})}}">
                {% set hasCover = false %}
                {% if covers != [] %}
                    {% for cover in covers %}
                        {% if cover.idArticle == artist.id %}
                        <img class="img_member" src="{{ asset('/upload/pictures/' ~ cover.covername) | imagine_filter('300x300') }}" alt="Photo de l\'artiste : {{ artist.title }}">
                        {% set hasCover = true %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if hasCover == false %}
                    {% if artist.imgs|first != "" %}
                    <img class="img_member" src="{{ asset('/upload/pictures/' ~ artist.imgs|first.name) | imagine_filter('300x300')}}" alt="Photo de l'artiste : {{ artist.title }}">
                    {% else %}
                    <img class="img_member" src="{{asset('/img/Arthur/DSCF6226.jpg') | imagine_filter('300x300')}}" alt="Photo de l'article : {{ artist.title }}">
                    {% endif %}
                {% endif %}
                <figcaption>
                    <h3>{{artist.title}}</h3>
                </figcaption>
            </a>
        </figure>
    {% endfor %}
    </article>
</section>
{% endblock %}