<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block title %}{% endblock %}
        <!-- FAVICONS -->
        <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">

        <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/ef657a2258.js" crossorigin="anonymous"></script>
        {% block header %}{% endblock %}
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/base900px.css">
        <link rel="stylesheet" href="/css/base600px.css">
        <link rel="stylesheet" href="/css/keyframes.css">
        {% block style %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <div id="background_modal"></div>
                <a href="/">
                    <img id="logo_header" src="/img/CDLM_logo.svg" alt="Logo CDLM">
                </a>
                <ul>
                    <li class="item_menu">
                        <a class="link_menu" href="{{ path("articles", {"format": "news"}) }}">{% trans %}News{% endtrans %}</a>
                    </li>
                    {% if app.user != null %}
                    <li class="item_menu label_menu">
                        <button class="btn_dropdown_menu">{% trans %}Events{% endtrans %}</button>
                        <div class="dropdown_menu">
                            <a href="{{ path("articles", {"format": "publicEvent"}) }}" class="link_dropdown_menu">{% trans %}Public{% endtrans %}</a>
                            <a href="{{ path("articles", {"format": "privateEvent"}) }}" class="link_dropdown_menu">{% trans %}Private{% endtrans %}</a>
                        </div>
                    </li>
                    <li class="item_menu label_menu_minwidth">
                        <a href="{{ path("articles", {"format": "publicEvent"}) }}" class="link_menu">{% trans %}Public Events{% endtrans %}</a>
                    </li>
                    <li class="item_menu label_menu_minwidth">
                        <a href="{{ path("articles", {"format": "privateEvent"}) }}" class="link_menu">{% trans %}Private Events{% endtrans %}</a>
                    </li>
                    {% else %}
                    <li class="item_menu">
                        <a href="{{ path("articles", {"format": "publicEvent"}) }}" class="link_menu">{% trans %}Events{% endtrans %}</a>
                    </li>
                    {% endif %}
                    <li class="item_menu label_menu">
                        <button class="btn_dropdown_menu">Label</button>
                        <div class="dropdown_menu">
                            <a class="link_dropdown_menu" href="{{ path("articles", {"format": "members"}) }}">{% trans %}Artists{% endtrans %}</a>
                            <a class="link_dropdown_menu" href="{{ path("articles", {"format": "releases"}) }}">{% trans %}Releases{% endtrans %}</a>
                        </div>
                    </li>
                    <li class="item_menu label_menu_minwidth">
                        <a class="link_menu" href="{{ path("articles", {"format": "members"}) }}">{% trans %}Artists{% endtrans %}</a>
                    </li>
                    <li class="item_menu label_menu_minwidth">
                        <a class="link_menu" href="{{ path("articles", {"format": "releases"}) }}">{% trans %}Releases{% endtrans %}</a>
                    </li>
                    <li class="item_menu">
                        <a class="link_menu" href="#">{% trans %}About{% endtrans %}</a>
                    </li>
                    {% if app.user == null %}
                    <li id="login_btn" class="item_menu">
                        <img class="sign_in_btn" alt="Logo de connexion" src="/img/user-circle-regular.svg">
                    </li>
                    {% else %}
                    <li id="login_btn" class="item_menu">
                        <img src="/img/ellipsis-h-solid.svg" alt="Logo informations admin" class="sign_in_btn">
                    </li>
                    {% endif %}
                </ul>
                <svg id="ico_burger" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
                </svg>
            </nav>
            <div class="popup_menu">
                <div class="sign_in_form">
                    {% if app.user == null %}
                    <form action="{{ path('login') }}" method="post">
                        <div class="form_row">
                            <label for="mail">{% trans %}Email{% endtrans %}</label>
                            <input type="text" id='mail' name="_username" placeholder="Adresse mail" class="form-control">
                        </div>
                        <div class="form_row">
                            <label for="password">{% trans %}Mot de passe{% endtrans %}</label>
                            <input type="password" id="password" name="_password" placeholder="Mot de passe" class="form-control">
                        </div>
                        <div class="form_row">
                            <input type="hidden" name="_token" value="{{ csrf_token('submitLogin') }}">
                            <button type="submit" class=".a_btn a_btn btn_more">{% trans %}Envoyer{% endtrans %}</button>
                        </div>
                    </form>
                    {% else %}
                        {% if is_granted("ROLE_ADMIN") %}
                        <a class="admin_menu" href="{{ path("creatPost") }}">{% trans %}Create post{% endtrans %}</a>
                        <a class="admin_menu" href="{{ path("creatArtist") }}">{% trans %}Create artist{% endtrans %}</a>
                        <a class="admin_menu" href="{{ path("signIn") }}">{% trans %}Create member{% endtrans %}</a>
                        {% endif %}
                    <a class="admin_menu" href="{{path("account")}}">{% trans %}Account{% endtrans %}</a>
                    <a class="admin_menu" href="{{ path("logout") }}">{% trans %}Logout{% endtrans %}</a>
                    {% endif %}
        <a href="{{ path("changeLocale", {"uri": app.request.uri}) }}" class="a_btn btn_del">Changer la locale</a>
                </div>
            </div>
        </header>
        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
        <footer>
            <div class="footer_card">
                <h1>{% trans %}Copyright{% endtrans %}</h1>
            </div>
            <div class="footer_card">
                <h1>{% trans %}Contact{% endtrans %}</h1>
            </div>
            <div class="footer_card">
                <h1>{% trans %}Legals{% endtrans %}</h1>
            </div>
            <div class="footer_card">
                <h1>{% trans %}Menu{% endtrans %}</h1>
            </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="/js/menuHidden.js"></script>
        <script src="/js/Modal.js"></script>
        <script src="/js/openMiniMenu.js"></script>
        <script type="application/javascript">
            window.addEventListener("load", ()=>{
                //Sub menus dropdown when mouse over.
                
                const btn_dropdown_menu = document.getElementsByClassName("btn_dropdown_menu");
                const dropdown_menu = document.getElementsByClassName("dropdown_menu");
                for (let i = 0; i < btn_dropdown_menu.length; i++){
                    let dropdownMenu = new menuHidden(
                        btn_dropdown_menu[i], 
                        dropdown_menu[i], 
                        "flex", 
                        "scaleBlur", 
                        "scaleBlur"
                    );
                    dropdownMenu.init();
                }
                
                //Burger menu for responsive design
                const ico_burger = document.getElementById("ico_burger");
                const nav_ul = document.querySelector("nav ul");
                const backgroundModal = document.getElementById("background_modal");
                let menuBurger = new openMiniMenu(ico_burger, nav_ul, "flex", backgroundModal);
                menuBurger.init();

                //Form appear when click on icon.
                let signinModal = new Modal(
                    document.getElementsByClassName("sign_in_form")[0],
                    "flex",
                    document.getElementById("background_modal"),
                    document.getElementById("login_btn"),
                );
                signinModal.init();
            });
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
