<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <!-- FAVICONS -->
        <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/keyframes.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/ef657a2258.js" crossorigin="anonymous"></script>
        {% block header %}{% endblock %}
        <style>{% block stylesheets %}{% endblock %}</style>
        {% block style %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <a href="/">
                    <img id="logo_header" src="/img/CDLM_logo.svg" alt="Logo CDLM">
                </a>
                <ul>
                    <li class="item_menu">
                        <a class="link_menu" href="{{ path("articles", {"format": "news"}) }}">News</a>
                    </li>
                    {% if app.user != null %}
                    <li class="item_menu">
                        <button class="btn_dropdown_menu">Events</button>
                        <div class="dropdown_menu">
                            <a href="{{ path("articles", {"format": "publicEvent"}) }}" class="link_dropdown_menu">Public</a>
                            <a href="{{ path("articles", {"format": "privateEvent"}) }}" class="link_dropdown_menu">Private</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="item_menu">
                        <a href="{{ path("articles", {"format": "publicEvent"}) }}" class="link_menu">Events</a>
                    </li>
                    {% endif %}
                    <li class="item_menu">
                        <button class="btn_dropdown_menu">Label</button>
                        <div class="dropdown_menu">
                            <a class="link_dropdown_menu" href="{{ path("articles", {"format": "members"}) }}">Artistes</a>
                            <a class="link_dropdown_menu" href="{{ path("articles", {"format": "releases"}) }}">Releases</a>
                            <a class="link_dropdown_menu" href="#">About</a>
                        </div>
                    </li>
                    <li class="item_menu">
                        <a class="link_menu" href="#">About</a>
                    </li>
                    {% if is_granted("ROLE_ADMIN") %}
                    <li class="item_menu">
                        <button class="btn_dropdown_menu">Admin</button>
                        <div class="dropdown_menu">
                            <a href="{{ path("creatPost") }}" class="link_dropdown_menu">Create post</a>
                            <a href="{{ path("signIn") }}" class="link_dropdown_menu">Create member</a>
                        </div>
                    </li>
                    {% endif %}
                    {% if app.user == null %}
                    <li class="item_menu">
                        <!--a class="link_menu" href="{#{ path("login") }#}"><i class="fas fa-sign-in-alt"></i></a-->
                        <button class="btn_dropdown_menu"><i class="fas fa-sign-in-alt"></i></button>
                        <div class="dropdown_menu">
                            <div class="sign_form_menu">
                                <form action="{{ path('login') }}" method="post">
                                    <div class="form_row">
                                        <label for="mail">Email</label>
                                        <input type="text" id='mail' name="_username" placeholder="Adresse mail" class="form-control">
                                    </div>
                                    <div class="form_row">
                                        <label for="password">Mot de passe</label>
                                        <input type="password" id="password" name="_password" placeholder="Mot de passe" class="form-control">
                                    </div>
                                    <div class="form_row">
                                        <input type="hidden" name="_token" value="{{ csrf_token('submitLogin') }}">
                                        <button type="submit" class="btn_more">Envoyer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                    {% else %}
                    <li class="item_menu">
                        <a class="link_menu" href="{{ path("logout") }}"><i class="fas fa-sign-out-alt"></i></a>
                    </li>
                    {% endif %}
                </ul>                        
            </nav>
        </header>
        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
        <footer></footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="/js/menuHidden.js"></script>
        <script>
            let btn_dropdown_menu = document.querySelectorAll(".btn_dropdown_menu");
            let dropdown_menu = document.querySelectorAll(".dropdown_menu");
            for (let i in btn_dropdown_menu){
                let burgerMenu = new menuHidden(
                                    btn_dropdown_menu[i], 
                                    dropdown_menu[i], 
                                    "flex", 
                                    "scaleBlur", 
                                    "scaleBlur"
                                    );
                burgerMenu.listenIco();
            }
            
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
