<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block title %}{% endblock %}
        <!-- FAVICONS -->
        <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">

        <!-- FONT -->
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Teko:400,700&display=swap" rel="stylesheet">
        
        <!-- ANIMATE -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        {% block header %}{% endblock %}
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/base900px.css">
        <link rel="stylesheet" href="/css/base600px.css">
        <link rel="stylesheet" href="/css/keyframes.css">
        {% block style %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <div id="background_modal"></div>
                <a id="logo_header" href="/">
                    <img src="/img/CDLM_logo.svg" alt="Logo CDLM">
                    <p>CDLM</p>
                </a>
                <ul>
                    {% if app.user != null %}
                    <li class="item_menu label_menu">
                        <button class="btn_dropdown_menu">{% trans %}Events{% endtrans %}</button>
                        <div class="dropdown_menu">
                            <a href="{{ path("articles", {"format": "public-event"}) }}" class="link_dropdown_menu">{% trans %}Public{% endtrans %}</a>
                            <a href="{{ path("articles", {"format": "private-event"}) }}" class="link_dropdown_menu">{% trans %}Private{% endtrans %}</a>
                        </div>
                    </li>
                    <li class="item_menu label_menu_minwidth">
                        <a href="{{ path("articles", {"format": "public-event"}) }}" class="link_menu">{% trans %}Public Events{% endtrans %}</a>
                    </li>
                    <li class="item_menu label_menu_minwidth">
                        <a href="{{ path("articles", {"format": "private-event"}) }}" class="link_menu">{% trans %}Private Events{% endtrans %}</a>
                    </li>
                    {% else %}
                    <li class="item_menu">
                        <a href="{{ path("articles", {"format": "public-event"}) }}" class="link_menu">{% trans %}Events{% endtrans %}</a>
                    </li>
                    {% endif %}
                    <li class="item_menu label_menu">
                        <button class="btn_dropdown_menu">Label</button>
                        <div class="dropdown_menu">
                            <a class="link_dropdown_menu" href="{{ path("articles", {"format": "members"}) }}">{% trans %}Artists{% endtrans %}</a>
                            <a class="link_dropdown_menu" href="{{ path("articles", {"format": "releases"}) }}">{% trans %}Releases{% endtrans %}</a>
                        </div>
                    </li>
                    <li class="item_menu label_menu_minwidth">
                        <a class="link_menu" href="{{ path("articles", {"format": "members"}) }}">{% trans %}Artists{% endtrans %}</a>
                    </li>
                    <li class="item_menu label_menu_minwidth">
                        <a class="link_menu" href="{{ path("articles", {"format": "releases"}) }}">{% trans %}Releases{% endtrans %}</a>
                    </li>
                    <li class="item_menu">
                        <a class="link_menu" href="{{ path("about") }}">{% trans %}About{% endtrans %}</a>
                    </li>
                    {# Change le locale language #}
                    {% if app.request.get('_route_params') != null %}
                        {% if app.request.get("_locale") == "en" %}
                        <li class="item_menu btn_locale">
                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}" class="link_menu">
                                <img src="/img/Flag_of_France.svg" alt="French flag">
                            </a>
                        </li>
                        {% else %}
                        <li class="item_menu btn_locale">
                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}" class="link_menu">
                                <img src="/img/Flag_of_the_United_Kingdom.svg" alt="UK flag">
                            </a>
                        </li>
                        {% endif %}
                    {% endif %}
                    <li class="item_menu btn_locale">
                        <a class="link_menu" href="https://soundcloud.com/cdlm-free">
                            <img src="/img/soundcloud-brands.svg" alt="Soundcloud ico">
                        </a>
                    </li>
                    {% if app.user == null %}
                    <li id="login_btn" class="item_menu">
                        <img src="/img/sign-in-alt-solid.svg" alt="Logo de connexion" class="sign_in_btn">
                    </li>
                    {% else %}
                    <li id="login_btn" class="item_menu">
                        <img src="/img/ellipsis-h-solid.svg" alt="Logo informations admin" class="sign_in_btn">
                    </li>
                    {% endif %}
                </ul>
                <svg id="ico_burger" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
                </svg>
            </nav>
            <div class="popup_menu">
                <div class="sign_in_form">
                    <div class="close_modal_btn">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" class="svg-inline--fa fa-times fa-w-11" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>
                    </div>
                    {# Display login form in modal when user is not logged #}
                    {% if app.user == null %}
                    <form action="{{ path('login') }}" method="post">
                        <div class="form_row">
                            <label for="mail">{% trans %}Email{% endtrans %}</label>
                            <input type="text" id='mail' name="_username" class="form-control">
                        </div>
                        <div class="form_row">
                            <label for="password">{% trans %}Mot de passe{% endtrans %}</label>
                            <input type="password" id="password" name="_password" class="form-control">
                        </div>
                        <div class="form_row">
                            <input type="hidden" name="_token" value="{{ csrf_token('submitLogin') }}">
                            <button type="submit" class="a_btn a_btn btn_more">{% trans %}Envoyer{% endtrans %}</button>
                        </div>
                    </form>
                    {# Display menu for Admin and Memeber when they are logged #}
                    {% else %}
                    <div class="personal_info_menu">
                        <p>{% trans %}hello{% endtrans %}<br>{{app.user.surname}} {{app.user.name}}</p>
                        <div class="personal_info_menu_logo">
                            <a href="{{path("account")}}">
                                <svg title="account" aria-hidden="true" focusable="false" data-prefix="far" data-icon="user-circle" class="svg-inline--fa fa-user-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path fill="currentColor" d="M248 104c-53 0-96 43-96 96s43 96 96 96 96-43 96-96-43-96-96-96zm0 144c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm0-240C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 448c-49.7 0-95.1-18.3-130.1-48.4 14.9-23 40.4-38.6 69.6-39.5 20.8 6.4 40.6 9.6 60.5 9.6s39.7-3.1 60.5-9.6c29.2 1 54.7 16.5 69.6 39.5-35 30.1-80.4 48.4-130.1 48.4zm162.7-84.1c-24.4-31.4-62.1-51.9-105.1-51.9-10.2 0-26 9.6-57.6 9.6-31.5 0-47.4-9.6-57.6-9.6-42.9 0-80.6 20.5-105.1 51.9C61.9 339.2 48 299.2 48 256c0-110.3 89.7-200 200-200s200 89.7 200 200c0 43.2-13.9 83.2-37.3 115.9z"></path></svg>
                            </a>
                            <a href="{{path("logout")}}">
                                <svg title="logout" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sign-out-alt" class="svg-inline--fa fa-sign-out-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z"></path></svg>
                            </a>
                        </div>
                    </div>
                        {% if is_granted("ROLE_ADMIN") %}
                        <a class="admin_menu" href="{{ path("creatPost") }}">{% trans %}Create post{% endtrans %}</a>
                        <a class="admin_menu" href="{{ path("creatArtist") }}">{% trans %}Create artist{% endtrans %}</a>
                        <a class="admin_menu" href="{{ path("signIn") }}">{% trans %}Create member{% endtrans %}</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </header>
        {# Read and display all flash messages #}
        <div id="flash_messages">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash_message">
                   <p class="flash-{{ label }}">{{ message }}</p>
                </div>
            {% endfor %}
        {% endfor %}
        </div>
        {% block body %}{% endblock %}
        <footer>
            {#Basic informations for footer #}
            <div class="footer">
                <div class="footer_element logo_footer">
                    <img id="logo_footer" src="/img/CDLM_logo.svg" alt="logo CDLM">
                    <h1 id="logo_footer_name">LE<br> CHANT<br> DE<br> LA<br> MACHINE</h1>
                </div>
                <div class="footer_element">    
                    <div class="footer_card">
                        <div class="footer_card_contact">
                            <h2>{% trans %}Contact{% endtrans %}</h2>
                            <ul>
                                <li><a href="{{path("contact")}}">{% trans %}The crew{% endtrans %}</a></li>
                            </ul>
                        </div>
                        <div class="footer_card_contact">
                            <h2>{% trans %}terms of use{% endtrans %}</h2>
                            <ul>
                                <li><a href="{{ path('legals') }}">{% trans %}website{% endtrans %}</a></li>
                                {% if app.user != null %}
                                <li><a href="{{ path('rgpd') }}">{% trans %}rgpdlink{% endtrans %}</a></li>
                                {% endif %}
                            </ul>
                            <h3>{% trans %}Copyright{% endtrans %}</h3>
                            <ul>
                                <li>
                                    <a href="{{path("contact")}}">Antoine</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {# Site map for footer #}
                    <div class="footer_card">
                        <h1>Menu</h1>
                        <h3>Site</h3>
                        <ul>
                            <li><a href="{{ path("articles", {"format": "public-event"}) }}">{% trans %}Events{% endtrans %}</a></li>
                            {% if app.user != null %}
                            <li><a href="{{ path("articles", {"format": "private-event"}) }}">{% trans %}private-event{% endtrans %}</a></li>
                            {% endif %}
                            <li><a href="{{ path("articles", {"format": "members"}) }}">{% trans %}Artists{% endtrans %}</a></li>
                            <li><a href="{{ path("articles", {"format": "releases"}) }}">{% trans %}Releases{% endtrans %}</a></li>
                            <li><a href="{{ path("about") }}">{% trans %}About{% endtrans %}</a></li>
                        </ul>
                        <h3>{% trans %}Account{% endtrans %}</h3>
                        <ul>
                        {% if app.user != null %}
                            <li><a href="{{path("account")}}">{% trans %}Personal informations{% endtrans %}</a></li>
                            <li><a href="{{path("logout")}}">{% trans %}Logout{% endtrans %}</a></li>
                        {% else %}
                            <li><a href="{{path("login")}}">{% trans %}Login{% endtrans %}</a></li>
                        {% endif %}
                        </ul>
                        {% if is_granted("ROLE_ADMIN") %}
                        <h3>Admin</h3>
                        <ul>
                            <li><a href="{{ path("creatPost") }}">{% trans %}Create post{% endtrans %}</a></li>
                            <li><a href="{{ path("creatArtist") }}">{% trans %}Create artist{% endtrans %}</a></li>
                            <li><a href="{{ path("signIn") }}">{% trans %}Create member{% endtrans %}</a></li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <!--script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script-->
        <script src="/js/MenuHidden.js"></script>
        <script src="/js/Modal.js"></script>
        <script src="/js/OpenMiniMenu.js"></script>
        <script src="/js/Flash.js"></script>
        <script src="/js/AddFlashMessage.js"></script>
        <script>
            //Sub menus dropdown when mouse over.
            const btn_dropdown_menu = document.getElementsByClassName("btn_dropdown_menu");
            const dropdown_menu = document.getElementsByClassName("dropdown_menu");
            for (let i = 0; i < btn_dropdown_menu.length; i++){
                let dropdownMenu = new MenuHidden(
                    btn_dropdown_menu[i],
                    dropdown_menu[i], 
                    "flex", 
                    "scaleBlur", 
                    "scaleBlur"
                );
                dropdownMenu.init();
            }
            
            //Burger menu for responsive design
            const ico_burger = document.getElementById("ico_burger");
            const nav_ul = document.querySelector("nav ul");
            const backgroundModal = document.getElementById("background_modal");
            let menuBurger = new OpenMiniMenu(ico_burger, nav_ul, "flex", backgroundModal);
            menuBurger.init();

            //Form appear when click on icon.
            let signinModal = new Modal(
                document.getElementsByClassName("sign_in_form")[0],
                "flex",
                document.getElementById("background_modal"),
                document.getElementById("login_btn"),
                document.getElementsByClassName("close_modal_btn")[0]
            );
            signinModal.init();

            //Flash messages
            if (document.getElementsByClassName("flash_message") != undefined){
                const flashMessage = document.getElementsByClassName("flash_message");
                let a;
                for (let i=0; i < flashMessage.length; i++){
                    a = new Flash(flashMessage[i], "blurOut");
                    a.init();
                }
            }

            //Animations when scroll
            AOS.init({
                duration: 1500, // values from 0 to 3000, with step 50ms
            });
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
