{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block style %}
<link rel="stylesheet" href="/css/edit_post.css"></link>
<link rel="stylesheet" href="/css/account.css"></link>
{% endblock %}
{% block body %}
<section id="account_form" class="form-group">
    <h1 class="subtitle">{% trans %}Bonjour{% endtrans %} {{ user.surname }}</h1>
    {{form_start(form)}}
        {{form_row(form.surname, {'label': 'Prénom', 'attr': {'placeholder': 'Prénom'}})}}
        {{form_row(form.name, {'label': 'Nom', 'attr': {'placeholder': 'Nom'}})}}
        {{form_row(form.submit, {'attr': {'class': 'a_btn btn_modify'}})}}
        <br>
        <a href="{{ path("resetMail") }}">{% trans %}Changer d'adresse mail{% endtrans %}</a>
        <br>
        <br>
        <a href="{{ path("resetPassword") }}">{% trans %}Changer de mot de passe{% endtrans %}</a>
    {{form_end(form)}}
</section>
{% endblock %}
{% block javascripts %}{% endblock %}