{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block style %}
<link rel="stylesheet" href="/css/edit_post.css"></link>
<link rel="stylesheet" href="/css/account.css"></link>
{% endblock %}
{% block body %}
<section id="reset_password" class="form-group">
<h1 class="subtitle">Changement de mot de passe</h1>
{{ form_start(form) }}
    {{ form_row(form.oldPassword, {'label': 'Ancien mot de passe'})}}
    {{ form_row(form.reset_password)}}
    {{ form_row(form.submit, {'attr': {'class': 'a_btn btn_modify'}})}}
{{ form_end(form) }}
</section>
{% endblock %}