{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block style %}
<link rel="stylesheet" href="/css/edit_post.css"></link>
{{ encore_entry_link_tags('account') }}
{% endblock %}
{% block body %}
<section id="account_form" class="form-group">
    <a href="{{path("account")}}" class="back_arrow"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-left" class="svg-inline--fa fa-long-arrow-alt-left fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z"></path></svg></a>
    <h1 class="subtitle">{% trans %}change name and surname{% endtrans %}</h1>
    {{ form_start(form) }}
        {{ form_row(form.surname, {'label': 'Prénom', 'attr': {'placeholder': 'Prénom'}}) }}
        {{ form_row(form.name, {'label': 'Nom', 'attr': {'placeholder': 'Nom'}}) }}
        {{ form_row(form.submit, {'attr': {'class': 'a_btn btn_modify'}}) }}
    {{ form_end(form) }}
</section>
{% endblock %}
{% block javascripts %}{% endblock %}