{% extends 'base.html.twig' %}
{% block title %}<title>CDLM.space - {{article.title}}</title>{% endblock %}
{% block header %}
{% include 'article/meta.html.twig' with {'article': article} %}
{% endblock %}
{% block style %}
{{ encore_entry_link_tags("article") }}
{% endblock %}
{% block body %}
   {% if article.imgs.snapshot != [] %}
        {% if cover != null %}
        <img class="article_image_cover" src="{{ asset('/upload/pictures/' ~ cover.name) }}" alt="Photo de l'article : {{article.title}}" >
        {% else %}
        <img class="article_image_cover" src="{{ asset('/upload/pictures/' ~ article.imgs|first) }}" alt="Photo de l'article : {{article.title}}" >
        {% endif %}
    {% else %}
    <img class="article_image_cover" src="{{ asset('build/img/Arthur/DSCF6241.jpg') }}" alt="Photo de l'article : {{article.title}}" >
    {% endif %}
    <section id="article_cover">
        <div class="incover">
            <div class="article_cover_title" data-aos="fade-right">
                <h1>{{ article.title }}</h1>
                <div class="date_event">
                    <p>{% trans %}Organisé le{% endtrans %} {{ article.dateEvent|date("d/m/Y") }}</p>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path("editPost", { "id" : article.id }) }}" class="a_btn btn_modify">{% trans %}Modifier{% endtrans %}</a>
                {% endif %}
            </div>
        </div>
    </section>
    <section id="article_body">  
        <article id="txt">
            {{ article.text|raw }}
        </article>
        <aside id="music">
            {% if article.apiData != [] %}
            <div class="widget_SC" data-aos="fade-left">
                {% for sound in article.apiData %}
                <div id="sound[{{loop.index0}}]" class="widget_track"></div>
                {% endfor %}
            </div>
            {% endif %}
            {% if article.youtube != [] %}
            <div class="youtube_videos">
                {% for video in article.youtube %}
                <div id="player[{{loop.index0}}]"></div>
                {% endfor %}
            </div>
            {% endif %}
        </aside>
    </section>
    {% if article.imgs.snapshot != null %}
    <section id="gallery" class="hes-gallery">
    {% for image in article.imgs %}
        <img src="{{ asset('/upload/pictures/' ~ image.name) | imagine_filter('200x150') }}" data-fullsize="{{ asset('/upload/pictures/' ~ image.name) }}"  data-aos="fade-up" alt="Photo {{image.id}} de l'article : {{ article.title }}">
    {% endfor %}
    </section>
    {% endif %}
{% endblock %}
{% block javascripts %}
<script src="https://unpkg.com/hes-gallery/dist/hes-gallery.min.js"></script>
{% include 'include/soundcloudPlayerJs.html.twig' with {"sounds": article.apiData} %}
{% include 'include/youtubePlayer.html.twig' with {"videos": article.youtube} %}
{% endblock %}