{% extends 'base.html.twig' %}
{% block title %}<title>CDLM.space - {{article.title }}</title>{% endblock %}
{% block header %}
{% include 'article/meta.html.twig' %}
{% endblock %}
{% block style %}
{{ encore_entry_link_tags("label") }}
{% endblock %}
{% block body %}
<section id="member">
    <div id="title_minwidth"></div>
    <aside id="member_picture">
        <figure>
            <figcaption id="artist_release_figcaption" data-aos="fade-right">
            {% include 'article/cover.html.twig' %}
                <div class="contact_socials">
                    <a href="{{path("contact")}}" class="socials_logo"><img src="/img/envelope-open-text-solid.svg" alt="logo email"></a>
                    {% if article.socialNetwork.soundcloud != null %}
                    <a href="{{ article.socialNetwork.soundcloud }}" target="blank" class="socials_logo"><img src="/img/soundcloud-brands.svg" alt="logo soundcloud"></a>
                    {% endif %}
                    {% if article.socialNetwork.facebook != null %}
                    <a href="{{ article.socialNetwork.facebook }}" target="blank" class="socials_logo"><img src="/img/facebook-square-brands.svg" alt="logo facebook"></a>
                    {% endif %}
                    {% if article.socialNetwork.instagram != null %}
                    <a href="{{ article.socialNetwork.instagram }}" target="blank" class="socials_logo"><img src="/img/instagram-brands.svg" alt="logo instagram"></a>
                    {% endif %}
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                {% include 'include/datetimeArticle.html.twig' with { "article": article }%}
                <a href="{{ path("editPost", { "id" : article.id }) }}" class="a_btn btn_modify">Modifier</a>
                {% endif %}
            </figcaption>
        </figure>
    </aside>
    <article id="member_text_soundcloud">
        <h1 data-aos="fade-left">{{article.title}}</h1>
        <div class="text" data-aos="fade-left">{{article.text|raw}}</div>
        {% if article.apiData != [] %}
            <div class="widget_SC" data-aos="fade-left">
                {% for sound in article.apiData %}
                <div class="widget_track" id="sound[{{loop.index0}}]"></div>
                {% endfor %}
            </div>
        {% endif %}
        {% if article.youtube != [] %}
        <div class="youtube_videos" data-aos="fade-left">
            {% for video in article.youtube %}
            <div id="player[{{loop.index0}}]"></div>
            {% endfor %}
        </div>
        {% endif %}
        {% if article.imgs.snapshot != null %}
            <div class="hes-gallery member_images">
            {% for image in article.imgs %}
                <img src="{{ asset('/upload/pictures/' ~ image.name) | imagine_filter('200x150') }}" data-aos="fade-left" data-fullsize="{{ asset('/upload/pictures/' ~ image.name) }}"  alt="Photo {{image.id}} de l'article : {{ article.title }}">
            {% endfor %}
            </div>
        {% endif %}
    </article>
</section>
{% endblock %}
{% block javascripts %}
<script src="https://unpkg.com/hes-gallery/dist/hes-gallery.min.js"></script>
<script src="/js/MovingElt.js"></script>
{% include 'include/soundcloudPlayerJs.html.twig' with {"sounds": article.apiData} %}
{% include 'include/youtubePlayer.html.twig' with {"videos": article.youtube} %}
<script>
let moveTitle = new MovingElt(
    document.querySelector("#member_text_soundcloud h1"), 
    document.getElementById("title_minwidth"), 
    600
    );
moveTitle.init();

let moveDate = new MovingElt(
    document.getElementById("datetime_article"), 
    document.getElementById("member_text_soundcloud"), 
    600
    );
moveDate.init();
</script>
{% endblock %}