{% extends 'base.html.twig' %}
{% block title %}<title>CDLM.space - {{article.title }}</title>{% endblock %}
{% block header %}
{% include 'article/meta.html.twig' %}
{% endblock %}
{% block style %}
<link rel="stylesheet" href="/css/label.css">
<link rel="stylesheet" href="/css/label900px.css">
<link rel="stylesheet" href="/css/label600px.css">
{% endblock %}
{% block body %}
<section id="release">
    <div id="title_minwidth"></div>
    <aside id="member_picture">
        <figure>
            {% include 'article/cover.html.twig' %}
            <figcaption id="artist_release_figcaption">
            <div class="contact_socials">
                <a href="{{path("contact")}}" class="socials_logo"><img src="/img/envelope-open-text-solid.svg" alt="logo email"></a>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
            {% include 'include/datetimeArticle.html.twig' with { "article": article }%}
            <a href="{{ path("editPost", { "id" : article.id }) }}" class="a_btn btn_modify">Modifier</a>
            {% endif %}
            </figcaption>
        </figure>
    </aside>
    <article id="member_text_soundcloud">
        <h1>{{article.title}}</h1>
        <div class="text">{{article.text|raw}}</div>
        {% if article.apiData != null %}
            <div class="widget_SC">
                {% for sound in article.apiData %}
                <div class="widget_track" id="sound[{{loop.index0}}]"></div>
                {% endfor %}
            </div>
        {% endif %}
        {% if article.imgs.snapshot != null %}
            <div class="hes-gallery member_images">
            {% for image in article.imgs %}
                    <img src="{{ asset('/upload/pictures/' ~ image.name) | imagine_filter('200x150') }}" data-fullsize="{{ asset('/upload/pictures/' ~ image.name) }}" alt="Photo {{image.id}} de l'article : {{ article.title }}">
            {% endfor %}
            </div>
        {% endif %}
    </article>
</section>
{% endblock %}
{% block javascripts %}
<script src="https://unpkg.com/hes-gallery/dist/hes-gallery.min.js"></script>
<script src="/js/MovingElt.js"></script>
{% include 'include/soundcloudPlayerJs.html.twig' with {"sounds": article.apiData} %}
<script>
let moveTitle = new MovingElt(
    document.querySelector("#member_text_soundcloud h1"), 
    document.getElementById("title_minwidth"), 
    600
    );
moveTitle.init();

let moveDate = new MovingElt(
    document.getElementById("datetime_article"), 
    document.getElementById("member_text_soundcloud"), 
    600
    );
moveDate.init();
</script>
{% endblock %}